src/devlog
src/.idea
src/.vscode
src/__pycache__
src/screenshots/*
!src/screenshots/.gitkeep
!src/saves/.gitkeep
src/saves/worlds/*
src/saves/book/*
!src/saves/book/.gitkeep
!src/saves/worlds/.gitkeep